@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8fafc;
}
.font-montserrat { font-family: 'Montserrat', sans-serif; }
.font-vibes { font-family: 'Great Vibes', cursive; }

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}
